<template>
    <section class="container mt-3">
        <div class="card">
            <h1 class="card-header">{{"home.title"|trans}}</h1>
            <div class="card-body">
                <p>{{ 'home.text'|trans }}</p>
                <router-link :to="app_default_listing">Go to listing</router-link>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: 'Home',
        data() {
            return {
                app_default_listing: this.$router.resolve({
                    name: 'app_default_listing',
                }).href
            }
        }
    }
</script>

<style scoped>

</style>