<template>
    <div class="container-fluid">
        <section class="container">
            <router-link to="/">{{'home.back'|trans}}</router-link>
            <p class="mb-3">{{ 'listing.text'|trans }}</p>

            <message></message>
            <ul class="vehicle-list row">
                <li class="vehicle-container mt-1 col-xs-12 col-sm-6" :key="v.id" v-for="v in vehicles">
                    <vehicle :brand="v.brand" :model="v.model" :mec="v.mec" :price="v.price"></vehicle>
                </li>
            </ul>
        </section>
    </div>
</template>

<script>
    import vehicle from './lib/components/TheVehicle'
    import message from './lib/components/TheMessage'

    export default {
        name: 'Listing',
        components: {
            message,
            vehicle
        },
        data() {
            return {
                title: 'Hello World!',
                username: 'Fab'
            }
        },
        computed: {
            vehicles() {
                return this.$store.getters.vehicles
            }
        },
        methods: {},
        mounted() {

        },
        filters: {}
    }
</script>

<style lang="scss" scoped>
    .container-fluid {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        background-color: #dadada;
        padding: 60px 0 30px;
        .vehicle-list {
            list-style: none;
            margin-top: 1rem;
            padding-left: 0
        }
    }
</style>
