{% extends '/base.html.twig' %}

{% block body %}
    {{ parent() }}
    <main id="main" type="x-template">
        {{- js_renderer|raw -}}
    </main>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/js/client.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/client.js') }}"></script>
{% endblock %}
