@mixin resetter($imgDir, $position: absolute) {
  position: $position;
  left: $grid-gutter-width/2;
  right: $grid-gutter-width/2;
  cursor: pointer;
  min-height: 24px;

  &:before {
    content: "";
    line-height: 24px;
    width: 19px;
    height: 19px;
    display: inline-block;
    vertical-align: -3px;
    background: transparent url(#{$imgDir}/global/spritePA.png) 0 -150px no-repeat;
  }

  & + ul {
    & > li {
      a {
        padding-left: 19px + 5px;
        text-decoration: none !important;
        pointer-events: none;
      }
    }
  }

  &:hover, &:active, &:focus {
    &:before {
      background-position: -19px -149px;
    }
    + ul {
      & > li {
        a {
          text-decoration: line-through !important;
        }
      }
    }
  }
}
