<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Symfony 4 and Vue JS 2 - SSR, routes and translations{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/main.css') }}"/>
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    {#<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"#}
            {#integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="#}
            {#crossorigin="anonymous"></script>#}
    {#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>#}
    {{ js_renderer.initialState|raw }}
{% endblock %}
</body>
</html>
